body, html {
        height: 100%;
        margin: 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fullpage {
        display: grid;
        grid-template-columns: 480px 1440px;
}

.info{
        display: grid;
        background-color: #292929;
        text-align: center;
        color: white;
}

#time{
        font-size: 95px;
        padding-top: 50px;
        margin-bottom: auto;
}

#day{
        font-size: 45px;
        margin-top: 0px;
}

#weather{
        font-size: 35px;
}

#stocks{
        display: grid;
        grid-template-columns: 360px 360px 360px 360px;
        grid-auto-rows: 360px;
        color: white;
        font-size: 40px;
        background-color: gray;
        text-align: center;
}

.positivePercent{
        background-color: green;
}

.negativePercent{
        background-color: rgb(130, 0, 0);
}

.arrow{
        padding-left: 60px;
        padding-right: 20px;
        float:left; 
        height:70px;
        width:70px;
}

.rotate90 {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        padding-left: 20px !important;
        padding-right: 60px !important;
}

.container_arrow{
        display: inline;
        text-align: left;
}