<!DOCTYPE html>
<head>
<title>Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body onload=load_data();>
<div class="fullpage">
  <div class="info">
    <div class="timeandday">
      <h1 id='time'>time</h1>
      <h2 id='day'>day</h2>
    </div>
    <div class="weather">45°</div>
    <div class="calendar">
      <img src="/static/img/calendar.jpg">
    </div>
  </div>
  <div id="stocks">
    {% for stock in stockList %}
      <div class="stock">
        <p class="ticker">{{stock}}</p>
        <p class="price"></p>
        <p class="percent"></p>
      </div>
    {% endfor %}
  </div>
</div>

</body>
</html>